{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <style>
        body {
            background-color: blueviolet;
            color: white;
        }
    </style>
</head>

<body>
    <ul class="nav justify-content-end nav-light bg-light" style="height: 50px;">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Notification</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">Nikhil
                Namdeo Telang</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Change
                        Password</a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{%url 'student_logout'%}">Log Out</a></li>
            </ul>
        </li>
    </ul>


    <div class="row">
        <div class="col-2 p-3 bg-light" style="height: 550px; width: 300px;">
            <ul class="nav flex-column navbar-expand-lg">
                <li class="nav-item">
                    <a class="nav-link active" href="{%url 'personal_details' id%}">Personal Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'religion_details' id%}">Religion details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'caste_details' id%}">Caste Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'income_details' id%}">Income Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'domicile_details' id%}">Domicile Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'address_details' id%}">Address</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'past_education_details' id%}">Past Education Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'applying_details' id%}">Applying Details</a>
                </li>
                <!-- As a link -->
            </ul>
        </div>
        <div class="col-9">
            <div class="container">
                <h3>Applying Details</h3>
                <form action="{% url 'insert_applying_details' id %}" method="post">{% csrf_token %}
                    <input type="hidden" id="uuid" name="uuid" value="{{id}}">
                    <div class="row">
                        <div class="col-4 mb-3">
                            <label for="apply_course_name" class="form-label">Course Name</label>
                            <select class="form-select" aria-label="Default select example" name="apply_course_name"
                                id="apply_course_name">
                                <option>--Select--</option>
                                <option value="BCA" selected>BCA</option>
                                <option value="2">Female</option>
                                <option value="3">Other</option>
                            </select>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="apply_Admission_Type" class="form-label">Admission Type</label>
                            <select class="form-select" aria-label="Default select example" id="apply_Admission_Type"
                                name="apply_Admission_Type">
                                <option>--Select Gender--</option>
                                <option value="Regular" selected>Regular
                                </option>
                                <option value="2">Female</option>
                                <option value="3">Other</option>
                            </select>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="apply_cet_percentage" class="form-label">CET / Merit
                                Percentage / CLAT Score</label>
                            <input type="text" class="form-control" id="apply_cet_percentage"
                                name="apply_cet_percentage">
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-4 mb-3">
                            <label for="apply_cap_id" class="form-label">Application Admission ID/CAP
                                ID/CLAT Admit Card No</label>
                            <input type="text" class="form-control" id="apply_cap_id" name="apply_cap_id">
                        </div>
                        <div class="col-4 mb-3">
                            <label for="apply_admission_through" class="form-label">Is Admission Through
                                Open Or
                                Reserved Category ?</label>
                            <input type="text" class="form-control" id="apply_admission_through"
                                name="apply_admission_through">
                        </div>
                        <div class="col-4 mb-3">
                            <label for="apply_gap_year" class="form-label">Gap Years</label>
                            <input type="text" class="form-control" id="apply_gap_year" name="apply_gap_year">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 mb-3">
                            <label for="apply_mode" class="form-label">Mode</label>
                            <input type="text" class="form-control" id="apply_mode" name="apply_mode">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Apply</button>
                </form>
            </div>
        </div>
        <footer class="page-footer font-small bg-light text-dark" style="height: 100%;">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2021 Copyright:
                <a href="#"> google.com</a>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->
</body>

</html>